<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>complainManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>./html/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>check</servlet-name>
		<servlet-class>com.cms.controller.HelloServlet</servlet-class>
	</servlet>
 <servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>com.cms.controller.UserRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>admin</servlet-name>
	<servlet-class>com.cms.controller.CheckLoginServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>ward</servlet-name>
	<servlet-class>com.cms.controller.WardsServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>wardm</servlet-name>
	<servlet-class>com.cms.controller.WardsMemberRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>logout</servlet-name>
	<servlet-class>com.cms.controller.LogoutServlet</servlet-class>
	</servlet>
		<servlet>
	<servlet-name>complaint</servlet-name>
	<servlet-class>com.cms.controller.ComplainsServlet</servlet-class>
	</servlet>
		<servlet>
	<servlet-name>comment</servlet-name>
	<servlet-class>com.cms.controller.CommentServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/userregistration.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>ward</servlet-name>
	<url-pattern>/wardregistration.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>wardm</servlet-name>
	<url-pattern>/wardmemregistration.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>logout</servlet-name>
	<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>complaint</servlet-name>
	<url-pattern>/complaintrequest.do</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	<servlet-name>comment</servlet-name>
	<url-pattern>/comment.do</url-pattern>
	</servlet-mapping>
</web-app>